body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Set the background image and styles for the landing page */
.landingpage {
  background-image: url("https://4kwallpapers.com/images/wallpapers/coastline-aerial-view-above-clouds-seascape-mountains-macos-5120x2880-3995.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

/* Style the sign-in button */
.signin {
  background-color: orange;
  color: black;
  height: 3rem;
  width: 8rem;
  border-radius: 10px;
  border: black 1px solid;
  font-size: 1.5rem;

}

.signin:hover {
  background-color: #e76f51;
  color: white;
}

@media (max-width: 768px) {
  .signin {
    font-size: 1.2rem;
  }
}

/* Position the app relative to its container */
.app {
  position: relative;
}

/* Style the slogans and generated country */
.sloganss {
  color: white;
  font-size: 1rem;
  margin: 3rem 0;
  text-align: left;


}



.slogan {
  color: white;
  font-size: 5rem;
  margin-left: 0.9rem;

}

.generated-country {
  animation: colorChange 6s infinite alternate;
  font-size: 5rem;
  color: transparent;
  /* margin: 1rem; */
  height: 7rem;
  /* Set a fixed height for the container */
  overflow: hidden;
  /* Hide overflow if the text exceeds the container's height */
  display: inline-block;
  /* Display as inline-block to prevent line breaks */
  white-space: nowrap;
  /* Prevent text from wrapping */
}

/* Keyframe animation for generated country text color change */
@keyframes colorChange {
  to {
    color: orange;
  }
}


/* Style the title */
.title {
  color: white;
  font-size: 25px;
  text-align: left;
  padding: 0;
  margin-left: 10px;
  text-align: center;
  margin-bottom: 20px;
}

/* Style the navigation bar */
.nav {
  background-color: rgb(0, 35, 63);
  height: 2px;
}

.nav-tabs {
  border: none;
}

/* Style the sign-in/login buttons */
.signin-login-buttons {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-left: 1rem;
  /* Reduced left margin for smaller screens */
}

.login-button {
  background-color: orange;
  color: black;
  height: 3rem;
  min-width: 8rem;
  /* Use min-width to ensure the button adapts to content */
  border-radius: 10px;
  border: black 1px solid;
  font-size: 1.5rem;
  margin-right: 1rem;
  /* Reduced right margin for smaller screens */
  width: 8rem;


}

/* Adjust styles for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
  .signin-login-buttons {
    margin-left: 0.5rem;
    /* Further reduced left margin */

  }

  .login-button {
    height: 3rem;
    min-width: 7rem;
    font-size: 1.2rem;
    margin-right: 0.5rem;
    /* Further reduced right margin */
  }
}

/* Adjust styles for even smaller screens (e.g., very narrow mobile devices) */
@media (max-width: 480px) {
  .signin-login-buttons {
    margin-left: 0.2rem;
    /* Further reduced left margin */
  }


}


/* Style the Hawk text with orange color */
.hawk {
  color: orange;
  padding: 0;
}


.login-button a {
  text-decoration: none;
  color: black;
}

/* .login-button .whitebox {
  text-decoration: none;
  color: black;
} */

.login-button a:hover {
  text-decoration: none;
  color: white;
}

/* Hamburger menu icon styles */
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  background-color: transparent;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform-origin: right;
}

.hamburger-icon:hover .bar {
  background-color: orange;
}

/* Initially, hide the nav-list off-screen to the right */
.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: -25%;
  /* Start off-screen to the right */
  width: 25%;
  height: 100vh;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  /* Slide in from the right transition */
}

/* Adjust the active state to bring the nav-list on screen */
.nav-list.active {
  right: 0;
  /* Slide in from the right to cover the screen */
}

.nav-list a {
  text-decoration: none;
  color: black;
}

.nav-list li {
  padding: 10px;
  border-bottom: 1px solid orange;
}
.nav-list li:hover {
  background-color: orange;
}

/* Add the blue block style */
.blue-block {
  background-color: rgba(0, 35, 63, 0.8);
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
  /* Increased padding for smaller screens */
  height: auto;
  /* position: relative; */
  top: 0;
  right: 0;
  transform: none;
  transition: transform 0.3s ease;
}

/* Tablet styles (for screens wider than 768px) */
@media (min-width: 768px) {
  .blue-block {
    padding: 5rem;
    height: 35rem;

  }
}

/* Desktop styles (for screens wider than 1024px) */
@media (min-width: 1024px) {
  .blue-block {
    width: 35%;
  }
}

/* LANDING PAGE STYLE ENDS */

.exploredetail {
  background-color: white;
}


.placename {
  height: 300px;
  width: 300px;
}

/* #map {
  width: 100%;
  height: 700px;
  /* margin-top: 2px; */
*/ .loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#autocomplete-input {
  height: 40px;
  width: 480px;
  margin-top: 20px;
  margin-left: 30%;
  border-color: orange;
  border-radius: 5px;
}



/* App.css or your custom CSS file */
.map-container {
  position: relative;
  width: 100%;
  height: 565px;
}



.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.list-delete {
  border: 2px solid orange;
  text-align: center;
}

.Go-back-buttons {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 25px;
}

.Go-back-buttons:hover {
  background-color: #e76f51;
  color: white;
}












/* DETAILS PAGE */

.itinerary-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.itinerary-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  position: relative;
}

.itinerary-item h3 {
  margin: 0;
}



.confirmation-modal {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confirm-delete,
.cancel-delete {
  margin-right: 5px;
  cursor: pointer;
}

/* DETAIL PAGE ENDS */











.save-list-button {
  background-color: orange;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center; 
  margin-left: 35%;
  top:15px;
}

@media (max-width: 768px) {
  .save-list-button {
    justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  }
}

a.link-to-saved-list{
  margin:auto;
  justify-content: center;
  display: flex;
  align-items: center;
 
}

button.save-list-button{
  margin: auto;
  display: flex-end;


}

.save-list-button:hover {
  background-color: #e76f51;
  color: white;
}

/* Center the .link-to-saved-list */
.link-to-saved-list {
  text-decoration: none;
  color: #61dafb;
  font-weight: bold;
  font-size: 16px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center; 
  
}

.link-to-saved-list:hover {
  text-decoration: underline;
}






/* LIST PAGE CSS STARTS  */

.list-page {
  
  background-color: #001732;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333333;
  /* z-index: 1; */
  max-height: 100vh; /* Set the maximum height of the container */
  overflow-y: auto;
}

.list-title {
  font-weight: bold;
  font-size: 35px;
  color: white;
  margin-top: 7rem;
  justify-content: center;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .list-title {
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;

  }
}

/* Default styles for the "Go back" button */
.go-back-button-on-list {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  position: absolute;
  top: 100px;
  left: 20px;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .go-back-button-on-list {
    /* padding: 8px 16px; */
    font-size: 16px;
    top: 50px;
    /* Adjust the top margin for smaller screens */
    left: 10px;
    /* Adjust the left margin for smaller screens */
  }
}


.go-back-button-on-list:hover {
  background-color: #e76f51;
  /* Sunset orange on hover */
  color: white;
}

/* Default styles for the search box */
.search-box-on-list {
  max-width: 400px;
  margin: 0 auto;
  display:flex;
  align-items: center;
  justify-content: center;
  /* Add other styles as needed */
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .search-box-on-list {
    max-width: 100vh;
    /* padding: 0 20px; */
    display:flex;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
    /* Add padding to adjust spacing as needed */
  }

  /* Adjust the input width for smaller screens if necessary */
  #autocomplete-input {
    width: 100%;
  }
}


.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;

}

.autocomplete-suggestions {
  max-height: 150px;
  overflow-y: auto;
  background-color: white;
  border-radius: 5px;
  padding: 5px;

}

.suggestion {
  cursor: pointer;
  padding: 5px;
}

.table-list {
  width: 90%;
  color: white;
  margin-bottom: 10rem; /* Center horizontally */
  margin-top: 20px;
  text-align: center; /* Center the text within the element */
}


@media (max-width: 768px) {
  .table-list {
    margin-bottom:20rem;
    width: 90%;
    color: white;
    margin-top: 20px;
    text-align: center;
  
  }
}

.place-name-on-list,
.place-action {
  text-align: center; /* Center the text within the elements */
  font-size: 20px;
  max-width: 100%; /* Ensure responsiveness */
}


.list-td {
  padding: 5px;

}


.list-delete {
  text-align: center;
  border: none;
}

.list-button {
  background-color: orange;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}

.list-button:hover {
  background-color: #e76f51;
  color: white;
}

.save-list-button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 10rem;
}

.save-list-button:hover {
  background-color: #e76f51;
  /* Sunset orange on hover */
  color: white;
}

.buttons-container {
  display: flex;
  gap: 5px; /* Adjust the gap between buttons as needed */
}

.save-list-button,
.link-to-saved-list {
  padding: 10px;
}
.link-to-saved-list {
  color: #61dafb;
  text-decoration: none;
  margin-top: 5px;
  font-size: 16px;
}

.link-to-saved-list:hover {
  text-decoration: underline;
}

#autocomplete-input {
  margin-left: 30px;
}

/* 
LIST PAGE ENDS */








/* SAVED LIST PAGE STARTS*/
/* saved.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #001732;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.list-container {
  border: 1px solid rgba(148, 185, 217, 0.8);
  padding: 20px; 
  margin-bottom: 10px; 
 color: white;
  border-radius: 5px;
  background-color:rgba(148, 185, 217, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
 
}

.custom-name-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid rgba(148, 185, 217, 0.8);
  border-radius: 3px;
 
}


.list-item {
  font-size: 20px;
  margin: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.delete-place-button {
  background-color: #e76f51;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 35rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-place-button:hover {
  background-color: #d3391e;
}

.empty-itinerary {
  text-align: center;
  margin-top: 20px;
  color:white;
}

.empty-itinerary h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.empty-itinerary p {
  font-size: 16px;
  color: #666;
}


.list-title-on-saved {
  font-size: 35px;
  margin-bottom: 10px;
  color: white;
  /* Set a specific text color, like black (#000) */
}

/* Default styles for the "Go back" button in Saved component */
.Go-back-button-on-saved {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 15px;
  
  font-size: 18px;
  border-radius: 10px;
 
  margin-right: 50px;
  cursor: pointer;
  margin-bottom: 20px;
  }



/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .Go-back-button-on-saved {
    padding: 8px 16px;
    font-size: 16px;
    top: 62px;
    /* Adjust the top margin for smaller screens */
    left: 10px;
    /* Adjust the left margin for smaller screens */
  }
}

/* EXPLORE DETAILS PAGE START */

.explore-details-pages {
  background-color: #001732
}

.geo-title {
  margin-left: 35rem;
  margin-top: 3rem;
}

.geo-subtitle {
  margin-left: 15rem;
}

/* placesarch page starts here */

.place-search-page {
  background-color: #001732;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.go-back-button-on-list {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 10px;
}

.search-title {
  font-size: 26px;
  margin: 20px auto; /* Center title horizontally */
  text-align: center; /* Center title text */
}

.category-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center category buttons horizontally */
  margin: 10px auto; /* Center category buttons horizontally */
}

.category-button {
  background-color: #3a3a3a;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.selected-category {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.input {
  width: 60%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px auto; /* Center input horizontally */
  display: block;
}

.input-on-search {
  width: 80%; /* Adjust the width to fit the container */
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  margin: 0 auto; /* Center input horizontally */
  display: block;
}

.search-button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px auto; /* Center button horizontally */
  display: block;
}

.search-button:hover {
  background-color: #e76f51;
  color: white;
}

.selected-categories {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center; /* Center text horizontally */
}

.place-results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center place results horizontally */
}

.place-result {
  width: calc(33.33% - 20px);
  margin: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid #000;
  text-align: center; /* Center text horizontally */
}

.place-info {
  padding: 10px;
  color: black;
}

.place-result img {
  max-width: 100%; /* Ensure images don't overflow their container */
  height: auto; /* Maintain image aspect ratio */
  border-radius: 5px;
}

.place-name {
  font-size: 16px;
  width: 100%; /* Full width on smaller screens */
  text-align: center; /* Center text horizontally */
}

.go-back-button-on-placesearch {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 90px;
  margin-left: 25px;
}


/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .go-back-button-on-placesearch {
    padding: 8px 16px;
    font-size: 16px;
    top: 50px;
    /* Adjust the top margin for smaller screens */
    left: 10px;
    /* Adjust the left margin for smaller screens */
  }
}


.go-back-button-on-placesearch:hover {
  background-color: #e76f51;
  /* Sunset orange on hover */
  color: white;
}


/* Adjustments for small mobile screens */
@media screen and (max-width: 480px) {
  .search-title {
    font-size: 20px;
    margin: 10px auto; /* Adjust margins for smaller screens */
  }

  .category-selection {
    justify-content: center;
    margin: 10px auto;
  }

  .category-button,
  .selected-category {
    font-size: 14px;
    padding: 8px 12px;
  }

  .input,
  .input-on-search {
    width: 90%;
    margin: 5px auto;
  }

  .search-button {
    margin: 10px auto;
  }

  .place-result {
    width: calc(50% - 10px); /* Two columns for small screens */
  }

  .place-name {
    font-size: 14px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: orange;
  color: white;
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: orange;
}

.pagination button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}


